* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*change the the font of the root*/

.nav-bar {
  display: flex;
  justify-content: center;
  font-size: 30px;
}

.nav-item {
  padding: 0 65px !important;
}

.home-container__img {
  height: auto;
  width: auto;
  overflow: hidden;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  animation: rightToLeft 1s;
  transition: all 0.5s;
}

.my-img {
  width: 300px;
  height: 500px;
  object-fit: cover;
  object-position: left bottom;
  position: relative;
  transition: all 0.3s;
}

.my-img:hover {
  transform: scale(1.1);
}

.hr {
  position: absolute;
  width: 100%;
  border-top: 2px solid #6200ee;
  z-index: -1;
  top: 200px;
  transform: rotate(5deg);
  transition: all 0.3s;
}

.hr-0 {
  position: absolute;

  color: #000000;
  display: inline-block;
  position: absolute;
  border-top: 2px solid #03dac6;
  z-index: -1;
  margin-left: 30%;
  width: 90%;
  transition: all 0.3s;
  transform: rotate(100deg);
}

.home-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  height: fit-content;
  padding: 50px;
}

@font-face {
  font-family: mon;
  src: url(/font/MonumentExtended-Ultrabold.otf);
}

.home-container__text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  animation: leftToRight 1s;
  transition: all 0.5s;
}

.home-header__hi {
  margin-top: 70px;
  font-size: 50px;
  font-weight: 400;
}
.coma {
  color: #03dac6;
}

.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #6200ee;
  margin-top: 10px;
  margin-bottom: 5px;
}

.home-header__name {
  font-size: 90px;
}

.home-header__p {
  width: 200px;
  font-size: 15px;
}

.scroll-btn {
  padding-top: 70px;
  text-decoration: none;
  color: gray;
}

.scroll-btn:hover {
  color: gray;
}

.scroll-img {
  width: 100px;
  height: 100px;
  transition: all 0.3s;
}

.scroll-img:hover {
  transform: translateY(10px);
}

.scroll-text {
  font-family: "Gloria Hallelujah", cursive;
  font-size: 12px;
}

/* About section */
.about-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 30px;
}

.about-container__content {
  display: flex;
  justify-content: space-around;
  gap: 50px;
  padding: 30px;
  flex-wrap: wrap;
}
.about-header {
  font-size: 100px;
  padding: 100px;
  display: flex;
  padding-left: 40px;
  padding-bottom: 50px;
}

.dot-1 {
  height: 50px;
  width: 50px;
  background-color: #ff0267;
  position: relative;
  text-align: center;
}

.dot-ver-1 {
  height: 1200px;
  width: 3px;
  background-color: #ff02671f;
  position: absolute;
  left: 50%;
  animation: leftToRight 0.3s;
  transition: all 0.3s;
}

.about-text {
  display: flex;
  flex-direction: column;
  word-spacing: 2px;
  width: 70%;
  padding: 0 30px;
  background-color: #ffffff;
  padding-top: 10px;
  padding-bottom: 30px;
  height: 320px;
  z-index: 1;
  animation: leftToRight 0.1s ease-in;
  transition: all 0.3s;
  border-radius: 10px;
  flex-wrap: wrap;
}
.about-text:hover {
  transform: scale(1.1);
}

.about-text:hover .dot-hr-1 {
  width: 140px;
}

.myName {
  color: #ff0266;
}

.about-text__header {
  font-size: 25px;
  font-weight: 400;
}
.dot-2 {
  height: 10px;
  width: 10px;
  background-color: #ff026739;
  position: relative;
  text-align: center;
}

.dot-hr-1 {
  width: 0;
  height: 2px;
  background-color: #ff026739;
  position: absolute;
  right: 0;
  top: 50%;
  margin-right: 10px;
  transform: translateY(-50%);
  transition: all 0.3s;
}

.about-text__p {
  font-size: 20px;
}
.about-activity {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 0 30px;
  gap: 30px;
  flex-wrap: wrap;
  align-items: flex-start;
}

.about-activity__header {
  color: #ff026747;
  font-weight: 300;
  font-size: 40px;
}

.dot-4 {
  height: 10px;
  width: 10px;
  background-color: #ff026739;
  position: relative;
  text-align: center;
}

.dot-hr {
  width: 341px;
  height: 2px;
  background-color: #ff026739;
  position: absolute;
  right: 0;
  top: 50%;
  margin-right: 10px;
  transform: translateY(-50%);
}

.dot-ver-2 {
  transform: rotate(90deg);
  position: absolute;
  bottom: 0;
}

.about-activity__content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.logo {
  width: 90px;
  height: 90px;
  position: absolute;
  left: -130px;
  margin-top: 10px;
}
.logo-1 {
  height: 50px;
  width: 100px;
}

.logo-2 {
  height: 70px;
  width: 100px;
  background-color: #03a1da;
}

.activity-text__header {
  font-size: 30px;
  font-weight: 200;
}

@media only screen and (max-width: 600px) {
  .nav-bar {
    display: inline-block;
    margin-left: 0px !important;
  }
  .home-header__hi {
    margin-top: 0;
  }

  .scroll-btn {
    display: none;
  }
  .scroll-text {
    display: none;
  }
  .about-text {
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .about-text__header {
    font-size: 17px;
  }

  .dot-2 {
    margin-bottom: 10px;
  }

  .about-text {
    font-size: 11px;
  }
  .about-activity {
    flex-direction: row;
  }

  .scroll-img {
    display: none;
  }

  .hr {
    display: none;
  }

  .hr-0 {
    display: none;
  }

  .nav-q {
    margin-left: 30px !important;
  }
  .my-img {
    object-position: 30%;
  }

  .my-img:hover {
    transform: scale(1);
  }

  .home-container__img {
    box-shadow: none;
  }
  .home-container {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .my-img {
    width: 300px;
    height: 300px;
    border-radius: 20%;
    overflow: hidden;
  }
  .nav-item {
    padding: 0 0px !important;
  }

  .nav-item-home {
    padding-right: 0px !important;
  }
}

/*Adding animations*/

@keyframes leftToRight {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes rightToLeft {
  0% {
    opacity: 0;
    transform: translateX(120px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
